.darkMode {
	background-color: #1f374a;

	body {
		background-color: #1f374a;
	}

	.pokemon-container,
	.props-container,
	.prop {
		background-color: #4b4343;

		.name,
		.label,
		.value,
		.see-details-button {
			color: white !important;
		}

		button {
			color: white;
		}
	}

	.pagination-container {
		div {
			color: white;
		}
		button:enabled {
			color: white;
		}
	}

	.topbar-container {
		.search-input-container {
			.icon {
				color: rgb(179, 166, 166);
			}
		}
		.dropdown {
			.dropdown-text {
				background-color: #4b4343;
				font-weight: 100px;
			}

			.dropdown-content li:hover {
				color: white;
				font-weight: normal;
				text-decoration: underline;
			}
		}

		.dropdown-content,
		input {
			background-color: #4b4343;
		}
	}

	.tabs {
		background-color: white;
	}

	.wrapper {
		.pokemon {
			&-name {
				color: white;
			}

			&-props {
				color: white;
			}

			.switch-wrapper {
				color: white;
			}

			p {
				color: white;
			}
		}

		.tab {
			color: white;
			background-color: #4b4343;
			border: 1px solid rgb(179, 166, 166);
			border-radius: 10px;

			&-content {
				max-height: 0;
				padding: 0 1em;
				transition: all 0.35s;
				font-size: 12px;
			}
		}

		input:checked {
			+ .tab-label {
				&::after {
					transform: rotate(90deg);
				}
			}
			~ .tab-content {
				max-height: 100vh;
				padding: 1em;
			}
		}
	}
}
