.pagination-container {
	width: 50%;
	display: flex;
	justify-content: center;
	margin: 20px auto 20px;

	div {
		text-align: center;
		vertical-align: middle;
		color: $text-color;
		letter-spacing: 1px;
		font-size: 13px;
		line-height: 60px;
		font-weight: bold;
		
	}

	button {
		margin: 20px;
		font: inherit;
		cursor: pointer;
		background: none;
		border: none;
		outline: inherit;
		color: $theme-color;
		font-weight: bold;
		font-size: 14px;
	}

	button:disabled,
	button[disabled] {
		color: $text-color;
	}
}
