.topbar-container {
	display: flex;
	justify-content: space-between;
	margin-top: 25px;
	width: 1000px;

	.search-input-container {
		width: 40%;

		input {
			width: 100%;
			border-radius: 5px;
			border: 0px;
			height: 34px;
			box-shadow: 0 4px 8px 0 $box-shadow-color;
			padding-left: 40px;
			margin-left: -20px;
		}

		input:focus {
			outline: none;
			color: $text-color;
		}

		.icon {
			margin-top: 7px;
			margin-left: -7px;
			position: absolute;
			color: #70acd6;
			height: 21px;
		}
	}

	.dropdown {
		position: relative;
		display: inline-block;
		text-align: left;
		width: 200px;
		z-index: 10;

		a {
			text-decoration: none;
		}

		.dropdown-text {
			cursor: pointer;
			position: absolute;
			text-indent: 10px;
			line-height: 32px;
			border: 0px;
			border-radius: 3px;
			box-shadow: 0 4px 8px $box-shadow-color;
			width: 100%;
			background-color: white;
		}

		.dropdown-text:after {
			position: absolute;
			right: 6px;
			top: 15px;
			content: '';
			width: 0px;
			height: 0px;
			border-style: solid;
			border-width: 5px 4px 0 4px;
			border-color: #555 transparent transparent transparent;
		}

		.dropdown-text,
		.dropdown-content li {
			cursor: pointer;
			color: #333;
			text-shadow: 0 1px #fff;
			font-size: 12px;
			color: rgb(173, 166, 166);
		}

		.dropdown-toggle {
			font-size: 0;
			z-index: 10;
			cursor: pointer;
			position: absolute;
			top: 0;
			border: none;
			padding: 0;
			margin: 0 0 0 1px;
			background: transparent;
			text-indent: -10px;
			height: 34px;
			width: 100%;
		}

		.dropdown-toggle:focus {
			outline: 0;
		}

		.dropdown-content {
			-webkit-transition: all 0.25s ease;
			-moz-transition: all 0.25s ease;
			-ms-transition: all 0.25s ease;
			-o-transition: all 0.25s ease;
			transition: all 0.25s ease;
			list-style-type: none;
			position: absolute;
			top: 32px;
			padding: 0;
			margin: 0;
			visibility: hidden;
			border-radius: 3px;
			text-indent: 10px;
			line-height: 32px;
			border: 0px solid #ccc;
			width: 100%;
			box-shadow: 0 4px 8px 0 $box-shadow-color;
		}

		.dropdown-content li:hover {
			color: rgb(37, 34, 34);
			font-weight: bold;
			text-decoration: underline;
		}

		.dropdown-toggle:focus ~ .dropdown-text:after {
			border-width: 0 4px 5px 4px;
			border-color: transparent transparent #555 transparent;
		}

		.dropdown-content:hover,
		.dropdown-toggle:focus ~ .dropdown-content {
			visibility: visible;
			top: 42px;
		}
	}
}
