// Variables
$theme-color: #367aac;
$box-shadow-color: rgba(0, 0, 0, 0.2);
$text-color: #797171;

@font-face {
	font-family: 'Sofia Rough Black Three';
	src: url(https://db.onlinewebfonts.com/c/f57396517be5751bccaab142b05f5291?family=Sofia+Rough+Black+Three);
}

* {
	font-family: 'Sofia Rough Black Three', sans-serif;
}

#homepage-container {
	width: 100%;
	display: flex;
	justify-content: center;
}

body {
	margin: 0px;
}

@import './topBar';
@import './pagination';
@import './pokemonList';
@import './pokemonDetail';
@import './darkModeToggler';
@import './darkMode';
